@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Meet</h1>
</div>
<a asp-controller="Meets" asp-action="Create">Create a New Meet!</a>
<iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/view?zoom=10&center=43.0389,-87.9065&key=AIzaSyA_adpkJU5A-_g8bLhkVesFuczwOOpiPtg" allowfullscreen></iframe>
