@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<MeetCapstone.Models.Client>

<div class="text-center">
    <h1 class="display-2">Welcome To Meet!</h1>
</div>
<div class="text-lg-center">
    <a class="btn-lg" asp-controller="Clients" asp-action="Index">View Your Profile!</a> |
    <a class="btn-lg" asp-controller=" Meets" asp-action="Create">Create a New Meet!</a>
</div>

    <iframe width="600" height="450" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/view?zoom=10&center=43.0389,-87.9065&key=AIzaSyA_adpkJU5A-_g8bLhkVesFuczwOOpiPtg" allowfullscreen></iframe>


   